/*-------Floride Theme v0.9.7--------*/

/*-----------Page Variables-----------*/
body {
	margin: 0%;
	padding:  0;
	border-width: 0;
	border-style: none;
	border-color: inherit;
	width: auto;
            scrollbar-face-color: #3C5D8A; 
	        scrollbar-shadow-color: #FAD2A4; 
	        scrollbar-highlight-color: #FAD2A4; 
	        scrollbar-3dlight-color: #000000; 
	        scrollbar-darkshadow-color: #000000; 
	        scrollbar-track-color: #83acc2;   
	        scrollbar-arrow-color: #ffffff

}

.aborder{
border-width : 1px;
border-style : solid;
border-color : black;
}

.tooltiptitle{COLOR: #FFFFFF; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 10pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 9pt}
#ToolTip{position:absolute; width: 100px; top: 0px; left: 0px; z-index:4; visibility:hidden;}


.pagetable {  
	width: 100%;	/* This will set the overall width of your layout */ 
	cellpadding: 0; 
	cellspacing: 0;
}
.table {  
	width: 100%; 
	border: thin #333333 solid; /* The border around the boxes at the top and bottom */
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}

INPUT, .bginput {
FONT-FAMILY: arial; COLOR: 000099; FONT-WEIGHT: bold;
}
/*-----------Private Variables-----------*/
A:link {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); COLOR: #004623; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:visited {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); COLOR: #004623; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:active {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); COLOR: #004623; FONT-SIZE: 14px; TEXT-DECORATION: none
}
A:hover {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); COLOR: #000099; FONT-SIZE: 14px; TEXT-DECORATION: underline 
}
.text12 {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 12px; COLOR: #000000
}
.text13 {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 13px; COLOR: #9f9f9f; FONT-WEIGHT: bold
}
.text15 {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 15px; COLOR: #000000
}
.text20 {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 20px; COLOR: #000000
}
.text20b {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 20px; COLOR: White; FONT-WEIGHT: bold
}
.text21b {
        FONT-FAMILY: Arial (Hebrew), David (Hebrew), Courier New (Hebrew); FONT-SIZE: 20px; COLOR: #000099; FONT-WEIGHT: bold
}
.text26 {
        FONT-FAMILY: Georgia; FONT-SIZE: 26px; COLOR: #808080; FONT-WEIGHT: bold
}
.text40 {
        FONT-FAMILY: Arial; FONT-SIZE: 40px; COLOR: #808080; FONT-WEIGHT: bold
}

/*----------Title Box Prefs-----------*/
.myheadertable {  
	background-color: #ffffff;
	width: 100%;
	border: thin #336699 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.searchbutton {
	background-color: #DDDDDD; /* This will change the color of your search button */
	color: #000000; /* This will change the color of the text on the search button */
	font-family: arial, helvetica, geneva
}
A.helps:link {
	color: #336699;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:visited {
	color: #333333;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:active {
	color: #336699;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helps:hover {
	color: #336699;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Navagation Bar Prefs-----------*/
.navbar {  
}
A.nav:link {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:visited {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:active {
	color: #990000;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.nav:hover {
	color: #990000;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------Banner Prefs-----------*/
.bannertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: thin #336699 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.bannertext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.bannertexttitle {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
A.bannerlink:link {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:visited {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:active {
	color: #336699;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.bannerlink:hover {
	color: #336699;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Menu Prefs-----------*/
.menutable {  
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.menubordercolor {  
	background-color: #4284b5; 
}
.menubordercolorm {  
	background-color: #c60400; 
}
.menubackcolor {  
	background-color: #FFFFFF; 
}
.cathdl {
	color: #ffffff; /* Color of Box Header Text */
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
.cat {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-------Who's Online? Prefs--------*/
A.whomenu:link {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:visited {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:active {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.whomenu:hover {
	color: #003399;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
.whocat {
	color: #336699;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------Poll Prefs-----------*/
.poll {
	color: #000000;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
.votebutton {
	background-color: #DDDDDD; /* This will change the color of your vote button */
	color: #000000; /* This will change the color of the text on the vote button */
	font-family: arial, helvetica, geneva
}
A.polllink:link {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:visited {
	color: #333333;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:active {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.polllink:hover {
	color: #336699;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Calendar Prefs-----------*/
.calhead {
     color: #000000;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.calbody {
     color: #666666;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.calhigh {
     color: #009900;
     font-weight: bold;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}
.caltoday {
     color: #336699;
     font-weight: bold;
     font-size: 8pt;
     font-family: arial, helvetica, geneva
}

/*-----------Newsletter Prefs-----------*/
.newsletterbutton {
	background-color: #DDDDDD; /* This will change the color of your submit button */
	color: #000000; /* This will change the color of the text on the submit button */
	font-family: arial, helvetica, geneva
}
.newslettertext {
	color: #000000;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}

/*-----------News Prefs-----------*/
.newstextsmall {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.newstexttitle {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.fullnewstitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.newssubtitle {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.newstextnormal {  
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.newsfootertext {  
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.articlecattitle {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.articlecatempty {
	color: #888888;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.articlecatnormal {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.newsbordercolor {  
	background-color: #333333; 
}
.newsbackcolor {  
	background-color: #FFFFFF; 
}
.commentbordercolor {  
	background-color: #FFFFFF; 
}
.commentbackcolor {  
	background-color: #FFFFFF; 
}
.articlebordercolor {  
	background-color: #FFFFFF; 
}
.articlebackcolor {  
	background-color: #FFFFFF; 
}
.newsheadertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.newscontenttable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.newsfootertable {  
	background-color: #FFFFFF; 
	width: 100%; 
	border: none;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
A.smallnewslink:link {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:visited {
	color: #003399;
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:active {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.smallnewslink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.newslink:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newslink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
.commenttitleback {  
	background-color: #DDDDDD;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.commentsubtitleback {  
	background-color: #DDDDDD;
	color: #000000;
	font-weight: normal;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
A.commentlink:link {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:visited {
	color: #FFFFFF;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:active {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.commentlink:hover {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*---------Forum Prefs-----------*/
.forumtext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumtextbold {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumtitlebackcolor {  
	background-color: #888888; 
}
.boardtitle {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow1 {  
	background-color: #FFFFCC; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow2 {  
	background-color: #FFFFFF; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.forumwindow3 {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
A.forumlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.forumnav:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.forumnav:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Link Prefs-----------*/
A:link {
	color: #336699;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A:visited {
	color: #336699;
	text-decoration: none
}
A:active {
	color: #336699;
	text-decoration: underline
}
A:hover {
	color: #336699;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Text Prefs-----------*/
.text {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.textsmall {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.texttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.time {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}

/*-----------My Content Prefs-----------*/
.mycontenttable {  
	width: 100%; 
	border: thin #000000 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.mycontenttext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.mycontenttexttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.mycontentlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Helps Nav Prefs-----------*/
.helpsnavtable {  
	background-color: #FFFFFF;
	width: 100%; 
	border: thin #333333 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}
.helpsnavtext {
	color: #000000;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.helpsnavtexttitle {
	color: #000000;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:link {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:visited {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:active {
	color: #003399;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.helpsnavlink:hover {
	color: #003399;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------WebAPP Footer Prefs-----------*/
.webapptext {
	color: #000000;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
A.webapplink:link {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:visited {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:active {
	color: #003399;
	font-size: 8pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.webapplink:hover {
	color: #003399;
	font-size: 8pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Form Prefs------------*/
.formstexttitle {
	color: #003399;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial, helvetica, geneva
}
.formstextnormal {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.formstext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.formstextsmall {
	color: #000000;
	font-weight: normal;
	font-size: 8pt;
	font-family: arial, helvetica, geneva
}
.button {
	background-color: #DDDDDD; /* This will change the color of your buttons */
	color: #000000; /* This will change the color of the text on your buttons */
	font-family: arial, helvetica, geneva
}

/*----------Stats Prefs-----------*/
.statstextbold {
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}
.statstext {
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva;
}

/*-----------IM Prefs-------------*/
.imtitle {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imselected {  
	background-color: #FFFFCE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imwindow1 {  
	background-color: #09D9FE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
.imwindow2 {  
	background-color: #EEEEEE; 
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}

A.newimlink:link {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:active {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.newimlink:hover {
	color: #003399;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}
A.oldimlink:link {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:visited {
	color: #003399;
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:active {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: none;
	font-family: arial, helvetica, geneva
}
A.oldimlink:hover {
	color: #003399;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline;
	font-family: arial, helvetica, geneva
}

/*-----------Other Prefs-----------*/

TD {
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
P {
	font-size: 10pt;
	font-family: arial, helvetica, geneva
}
/*-----------My Stuff-----------*/
.mysuff {  
	background-color: #ffffff;
	width: 33%;
	border: thin #336699 solid;
	border-width: 1px 1px 1px 1px;
	cellpadding: 0; 
	cellspacing: 0;
}

/*-----------סרצ'יק-----------*/

.searchDropdown2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: right;
	height: 11pt;
	width: 180px;
; background-color: #FFCC00; font-weight: bold
}

h2.newstitle{
color: yellow;
font-size: 12px;
}


/* for ofir */
.ofirmain {
	width: 250px;
	height: 100px;
}
.ofirheader {
	height: 30px;
	margin-bottom: 2px;
background: #c756a8; /* Old browsers */
background: -moz-linear-gradient(top, #c756a8 0%, #c95ab6 26%, #c95ab6 26%, #c95ab6 31%, #a40674 75%, #9d0671 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c756a8), color-stop(26%,#c95ab6), color-stop(26%,#c95ab6), color-stop(31%,#c95ab6), color-stop(75%,#a40674), color-stop(100%,#9d0671)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c756a8 0%,#c95ab6 26%,#c95ab6 26%,#c95ab6 31%,#a40674 75%,#9d0671 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c756a8 0%,#c95ab6 26%,#c95ab6 26%,#c95ab6 31%,#a40674 75%,#9d0671 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c756a8 0%,#c95ab6 26%,#c95ab6 26%,#c95ab6 31%,#a40674 75%,#9d0671 100%); /* IE10+ */
background: linear-gradient(to bottom, #c756a8 0%,#c95ab6 26%,#c95ab6 26%,#c95ab6 31%,#a40674 75%,#9d0671 100%); /* W3C */

}
.ofirlinks{
	height: 66px;
	border: 3px solid #c864a4;
}
.ofirlinks a{
	margin: 10px 0;
	color: #4e4d5b;
}
.ofirlinks .left {
	float: left;
    display: inline-block;
}
.ofirlinks .right {
	float: right;
    display: inline-block;
}
.ofirlinks li {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}
.ofirlinks ul{
	margin: 0 8px;
    padding: 0;	padding: 0;
}



        .moneyWrap
        {
            width: 250px;
            height: 110px;
        }
        
        .moneyHead
        {
            background-color: #35569C;
            height: 40px;
            width: 250px;
        }
        
        .moneyLogo
        {
            color: black;
            cursor: pointer;
            font-weight: bold;
            line-height: 35px;
            padding-right: 5px;
            text-align: right;
            width: 80px;
            height: 30px;
            display: block;
            float: right;
        }
        	
		.moneyTitle 
		{
			color: #ffffff;
			cursor: pointer;
			font-size: 16px;
			font-weight: bold;
			height: 40px;
			margin-right: 16px;
			text-align: right;
			width: 140px;
			float: right;
		}


        
        .moneyCon
        {
            background-color: #ffffff;
            border: 3px solid #35569C;
            width: 244px;
            height: 60px;
            padding-top: 0px;
        }
        
        ul.moneyItems 
        {
            list-style: none outside none;
            margin: 0;
            padding: 0;
            width: 240px;
        }
        
        ul.moneyItems li.right
        {
            float: right;
            height: 30px;
            margin: 2px 10px 0px 0px;
            text-align: right;
            width: 128px;
        }
        
        ul.moneyItems li.left
        {
            float: right;
            height: 30px;
            margin: 2px 5px 0px 0px;
            text-align: right;
            width: 95px;
        }
        
        ul.moneyItems li a 
        {
            color: #35569C;
            text-decoration: underline;
            font-size: 14px;
        }
        
        ul.moneyItems li h3
        {
            color: darkblue;
            text-align: right;
            font-size: 18px;
            font-size: 16px;
            margin: 7px 10px 0px 0px;
            padding: 0px;
            
        }
        
        .moneyHR
        {
            margin: 0px;
        }

 /* The Modal (background) */
.rmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.rmodal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.rclose {
    background-color: blue;
    opacity: 0.4;
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.rclose:hover,
.rclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.myModal{
    color: #000;
    background: url(x4.jpg) no-repeat center center;
    background-size: cover;
}



.cbody {
    color: #000;
    background: url(x3.jpg) no-repeat center center;
    background-size: cover;
    padding: 20px;
}

